.element__likeButton{
  padding: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
  background-image: url(../../../images/addLike.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  transition: opacity 0.2s linear;
}

.element__likeButton:hover{
  opacity: 0.6;
}
